#map {
    .zoom-buttons {
        margin-bottom: map-get($spacers, 2);
        margin-right: map-get($spacers, 2);
        @include border-radius($border-radius);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        transform: translateX(0);
        transition: margin-right $map-zoombutton-anime-speed ease-in-out, transform $map-zoombutton-anime-speed ease-in-out;
        .btn {
            width: 27px;
            height: 28px;
            display: block;
            padding: 0;
            line-height: .8;
            color: $gray-700;
            cursor: pointer;
            &:last-child {
                border-top-color: darken(map-get($theme-colors, light), 10%);
            }
            &.disabled,
            &:disabled {
                color: $gray-500;
            }
            .material-icons {
                font-size: 18px;
                margin-bottom: -1px;
            }
        }
    }

    .infobox {
        max-width: 70vw;
    }
    .infobox-inner {
        border: 1px solid red;
        background-color: #fff;
    }
}
