
.map-marker {
    display:flex;
    flex-direction: column;
    align-items:center;
    position:relative;
    z-index:1;

    &:before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        border-radius:$marker-radius;
        border-style:solid;
        border-width:$marker-border-width;
        box-shadow:$marker-shadow;
        background-color:transparent;
    }

    &:after {
        content:'';
        display:block;
        position:relative;
        z-index:1;
        top:-1px;
        transform:translateY(-50%) scaleX($marker-arrow-thin) rotate(45deg);
        border-style:solid;
        border-width:0 $marker-border-width $marker-border-width 0;
        box-shadow:$marker-shadow;
        
    }

    >div {
        position:relative;
        z-index:2;
        // border-radius:$marker-radius;
        text-align:center;
        text-shadow:
            1px 1px 0 #fff,
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff
        ;
        line-height:1;

        &:before {
            display:block;
            content:'';
            position:absolute;
            top:$marker-border-width;
            left:$marker-border-width;
            z-index:-1;
            border-radius:$marker-radius;
            border:#{$marker-border-width + 1} solid transparent;
        }

        &:after {
            display:block;
            content:'';
            width:50%;
            height:50%;
            position:absolute;
            top:50%;
            left:50%;
            z-index:-1;
            transform:translate(-50%, -50%);
            border-radius:50%;
        }

        >div {
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            position:relative;
            border-radius:$marker-radius;
            border:#{$marker-border-width + 2} solid transparent;
            overflow:hidden;

            >img {
                position:absolute;
                top:50%;
                left:50%;
                max-width:100%;
                max-height:100%;
                transform:translate(-50%, -50%);
            }
        }
    }

    @each $name, $values in $markers {
        $size: map-get($values, size);
        $arrow: map-get($values, arrow);
        $text: map-get($values, text);
        $color: map-get($values, color);
        $borderColor: darken($color, 10%);
        $diagonal:round(sqrt(pow(strip-unit($arrow), 2) + pow(strip-unit($arrow), 2))) + 0px;

        &.#{$name} {
            width:$size;
            height:#{$size + round($diagonal / 2)};
            transform-origin:#{round($size / 2)} #{$size + round($diagonal / 2)};

            &:before, >div, >div>div {
                width:$size;
                height:$size;
            }

            &:before {
                background-color:$color;
                border-color:$borderColor;
            }

            >div {
                &:before {
                    width:#{$size - ($marker-border-width * 2)};
                    height:#{$size - ($marker-border-width * 2)};
                    background-color:$color;
                }

                &:after {
                    background-color:lighten($color, 15%);
                }
            }

            >div>div {
                font-size: $text;
            }

            &:after {
                width:$arrow;
                height:$arrow;
                margin-bottom:-#{round($diagonal / 2)};
                background-color:$color;
                border-color:$borderColor;
            }
        }
    }

    &.ready {
        animation: mapMarkerReady 2.5s 1 ease-in-out;
    }

    &.focused {
        animation: mapMarkerFocused 1.8s ease-in-out;
    }

    &.dragging {
        &:before, &:after {
            box-shadow:0 10px 4px rgba(0,0,0,.6);
        }
    }
}


@keyframes mapMarkerReady {
    0% { transform: translateY(-70%) scale(.9, .9); }
    4% { transform: translateY(0) scale(.9, .9); }
    6% { transform: scale(1.1, .4); }
    9% { transform: scale(.9, 1.1); }
    13% { transform: scale(1.1, .9); }
    18% { transform: scale(1, 1); }
    100% { transform: scale(1, 1); }
}

@keyframes mapMarkerFocused {
    0% { transform: scale(1.1, 1.1); }
    4% { transform: scale(.9, .9); }
    6% { transform: scale(1.1, .4); }
    9% { transform: scale(.9, 1.1); }
    13% { transform: scale(1.1, .9); }
    18% { transform: scale(1, 1); }
    100% { transform: scale(1, 1); }
}

@keyframes mapMarkerActive {
    0% { transform: translateY(-10%) scale(1.1, 1) rotateY(90deg); }
    6% { transform: translateY(-30%) scale(1.2, 1) rotateY(180deg); }
    12% { transform: translateY(-5%) scale(1.1, 1) rotateY(90deg); }
    18% { transform: translateY(0) scale(1.3, .8) rotateY(0deg); }
    22% { transform: translateY(0) scale(.9, 1.1) rotateY(0deg); }
    26% { transform: translateY(0) scale(1, 1) rotateY(0deg); }
    100% { transform: translateY(0) scale(1, 1) rotateY(0deg); }
}
