
#page>header {
    display:flex;
    justify-content:space-between;
    align-items:stretch;
    position:relative;
    z-index:2;
    border-bottom: 1px solid $border-color;

    @each $breakpoint, $header-height in $header-heights {
        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            // height: $header-height;
            flex: 0 0 $header-height;
        }
    }

    >label, .logo {
        display:flex;
        justify-content:center;
        align-items:center;
        margin:0;
        padding:0 map-get($spacers, 3);
    }

    .material-icons {
        font-size:24px;
        // font-size:1.5em;
    }

    .logo {
        font-weight:bold;
        color:$black;
    }

    >label {
        cursor:pointer;

        &:hover {
            background-color:$gray-100;
        }
    }

    & + main {
        position:relative;
        z-index:1;
    }
}
