
$body-bg:#F2F2F2;


$header-height-mobile:2.5rem;
$header-height-desktop:3rem;

$shadowed-box-radius:$border-radius;
$shadowed-box-shadow-x:0;
$shadowed-box-shadow-y:.1rem;
$shadowed-box-shadow-length:2px;
$shadowed-box-shadow-color:rgba(0,0,0,.15);

$article-anime-speed:.2s;
