// $body-bg:#F2F2F2;
$body-bg:$white;
$font-size-base:1rem;

$header-heights: ( xs: 2.5rem, sm: 2.5rem, md: 2.75rem, lg: 3rem, xl: 3rem);
$shadowed-box-radius:$border-radius;
$shadowed-box-shadow-x:0;
$shadowed-box-shadow-y:.1rem;
$shadowed-box-shadow-length:2px;
$shadowed-box-shadow-color:rgba(0, 0, 0, .15);
$toggle-map-anime-speed:.2s;
$map-zoombutton-anime-speed:.4s;


$marker-sizes: (
    normal: (
        size: 20px,
        arrow: 8px,
        text: .8rem
    ),
    focused: (
        size: 40px,
        arrow: 10px,
        text: .9rem
    ),
);

$marker-color:#F75850;
$marker-radius:50%;
$marker-arrow-thin:.75;
$marker-border-width:1px;
$marker-border-color:#B73830;
