
// Fonts
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Variables
@import "variables";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "components/map";

html, body {
    height:100%;
    overflow:hidden;
}

#app {
    height:100%;
    display:flex;
    flex-direction:column;
    overflow:hidden;

    >input[type="checkbox"] {
        position:absolute;
        z-index:10;
        top:0;
        left:50%;
        &:after {
            content:attr(id);
            font-size:10px;
            line-height:1;
            white-space:nowrap;
        }
    }

    >header {
        height:40px;
        position:relative;
        z-index:2;
        box-shadow:0 1px 2px rgba(0,0,0,.15);
    }

    >main {
        position:relative;
        z-index:1;
        flex-grow:1;
        overflow:hidden;

        >.map {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            z-index:1;
            background-color:#eee;

            >div {
                position:relative;
                width:100%;
                height:100%;
                z-index:1;
            }
        }

        > article {
            display:flex;
            flex-direction:column;
            max-width:600px;
            overflow:hidden;
            position:absolute;
            z-index:3;
            opacity:0;
            background-color:rgba(255,255,255,.6);
            transition:transform .3s ease-in-out, opacity 0s linear .3s;
    
            @include media-breakpoint-up(md) {
                height:calc(100% - 100px);
                width:60vw;
                top:50px;
                bottom:50px;
                right:0;
                transform:translateX(100%);
            }
    
            @include media-breakpoint-down(sm) {
                width:100%;
                height:70%;
                left:50%;
                right:0;
                bottom:0;
                transform:translate(-50%, 100%);
            }
        }
    }
}

#open-article:checked,
.open-article {
    ~main {
        >.map {
            // pointer-events:none;
        }

        >article {
            opacity:1;
            transition:transform .3s ease-in-out;

            @include media-breakpoint-up(md) {
                // height:calc(100% - 100px);
                transform:translateX(0);
                box-shadow:0 -1px 3px rgba(0,0,0,.3);
            }
    
            @include media-breakpoint-down(sm) {
                // height:65%;
                transform:translate(-50%, 0%);
                box-shadow:-1px 0 3px rgba(0,0,0,.3);
            }
        }
    }
}
