
// Fonts
@import url("https://fonts.googleapis.com/css?family=Material+Icons");

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Variables
@import "variables";
@import "mixins";

// Bootstrap
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";


@import "components/map";

html, body {
    height:100%;
    overflow:hidden;
}

#app {
    height:100%;
    display:flex;
    flex-direction:column;
    overflow:hidden;

    >input[type="checkbox"] {
        display:none;
    }

    >.map {
        position:absolute;
        top:$header-height + (map-get($spacers, 1) * 2);
        left:map-get($spacers, 1);
        right:map-get($spacers, 1);
        bottom:map-get($spacers, 1);
        transition:
            left $article-anime-speed ease-in-out,
            right $article-anime-speed ease-in-out,
            bottom $article-anime-speed ease-in-out;
        border-radius:$shadowed-box-radius;
        overflow:hidden;

        $shadow-size:$shadowed-box-shadow-y;
        $shadow-color:rgba(0,0,0,.15);
        $shadow-length:1px;
        
        &:before, &:after, >div:before, >div:after {
            display:block;
            position:absolute;
            z-index:2;
            content:'';
            border-radius:$shadowed-box-radius;
            pointer-events:none;
        }

        &:before {
            height:$shadow-size * 2;
            top:0;
            left:0;
            right:0;
            box-shadow:inset 0 #{$shadow-size / 2} $shadow-length $shadow-color;
        }

        &:after {
            width:$shadow-size * 2;
            top:0;
            right:0;
            bottom:0;
            box-shadow:inset -#{$shadow-size / 2} 0 $shadow-length $shadow-color;
        }

        >div:before {
            height:$shadow-size * 2;
            left:0;
            right:0;
            bottom:0;
            box-shadow:inset 0 -#{$shadow-size / 2} $shadow-length $shadow-color;
        }
        
        >div:after {
            width:$shadow-size * 2;
            top:0;
            left:0;
            bottom:0;
            box-shadow:inset #{$shadow-size / 2} 0 $shadow-length $shadow-color;
        }

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            $shadow-size:$shadow-size * 2;
            $shadow-length:$shadow-length * 2;
    
            &:before {
                height:$shadow-size * 2;
                box-shadow:inset 0 #{$shadow-size / 2} $shadow-length $shadow-color;
            }
    
            &:after {
                width:$shadow-size * 2;
                box-shadow:inset -#{$shadow-size / 2} 0 $shadow-length $shadow-color;
            }
    
            >div:before {
                height:$shadow-size * 2;
                box-shadow:inset 0 -#{$shadow-size / 2} $shadow-length $shadow-color;
            }
            
            >div:after {
                width:$shadow-size * 2;
                box-shadow:inset #{$shadow-size / 2} 0 $shadow-length $shadow-color;
            }
        }

        >div {
            position:relative;
            width:100%;
            height:100%;
            z-index:1;
        }
    }

    >header {
        height:$header-height;
        position:absolute;
        top:map-get($spacers, 1);
        left:map-get($spacers, 1);
        right:map-get($spacers, 1);
        z-index:#{$zindex-dropdown - 1};
        // border-radius:$border-radius;
        // background-color:$white;
        // box-shadow:0 1px 2px rgba(0,0,0,.15);
    }

    >article {
        height:0;
        position:absolute;
        overflow:hidden;
        left:map-get($spacers, 2);
        right:map-get($spacers, 2);
        bottom:map-get($spacers, 1);
        z-index:#{$zindex-dropdown - 2};
        border-radius:$border-radius;
        background-color:$white;
        @include shadowed-box-variant;
        transition:height $article-anime-speed ease-in-out;
    }

    >main {
        > article {
            display:flex;
            flex-direction:column;
            max-width:600px;
            overflow:hidden;
            position:absolute;
            z-index:3;
            opacity:0;
            background-color:rgba(255,255,255,.6);
            transition:transform .3s ease-in-out, opacity 0s linear .3s;
    
            @include media-breakpoint-up(md) {
                height:calc(100% - 100px);
                width:60vw;
                top:50px;
                bottom:50px;
                right:0;
                transform:translateX(100%);
            }
    
            @include media-breakpoint-down(sm) {
                width:100%;
                height:70%;
                left:50%;
                right:0;
                bottom:0;
                transform:translate(-50%, 100%);
            }
        }
    }
}

#show-article:checked {
    ~ .map {
        left:map-get($spacers, 2);
        right:map-get($spacers, 2);
        bottom:60vh;
    }

    ~ article {
        height:calc(60vh - #{map-get($spacers, 1)} - #{map-get($spacers, 2)});
    }
}

#open-article:checked,
.open-article {
    ~main {
        >.map {
            // pointer-events:none;
        }

        >article {
            opacity:1;
            transition:transform .3s ease-in-out;

            @include media-breakpoint-up(md) {
                // height:calc(100% - 100px);
                transform:translateX(0);
                box-shadow:0 -1px 3px rgba(0,0,0,.3);
            }
    
            @include media-breakpoint-down(sm) {
                // height:65%;
                transform:translate(-50%, 0%);
                box-shadow:-1px 0 3px rgba(0,0,0,.3);
            }
        }
    }
}
